<div class="dialog_container">
  <form (ngSubmit)="submitReminder()">
    <h1 mat-dialog-title>Add reminder</h1>
    <div mat-dialog-content>
      <input type="email" name="email" placeholder="Enter Reminder Email" class="dialog_email_input" required />
      <div class="date_time_container">
        <input type="date" name="date" class="dialog_email_input" required />
        <input type="time" name="time" class="dialog_email_input" required />
      </div>
    </div>
    <div mat-dialog-actions class="reminder_actions">
      <button type="submit">Send Reminder</button>
      <button mat-button>Close</button>
    </div>
  </form>
</div>